.movie-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .movie-info {
    font-family: Arial, sans-serif;
  }
  
  .movie-info p {
    margin: 5px 0;
  }
  
  .movie-info p:first-child {
    font-weight: bold;
  }
  